input{

    width:60%;
    height:30px;
    font-size: 25px;
}

ol{
    height:62vh;
    width:70%;
    overflow-y: scroll;
    border: solid black 3px;

}

.chat{
    border: solid grey 1px;
    width:75%;
}

@media screen and (min-width:320px),(max-width:480px){


    input{

    width:75%;
    height:20%;

}

ol{
    height:70vh;
    width:100%;
    overflow-y: scroll;
    border: solid black 3px;

}

.chat{
    border: solid grey 1px;
    width:100%;
}

button{
    //height:40px;
    width:20%;
    min-width: 25px;
}
p{
    font-size: 20px;
}

}
